.root {
  margin: auto;
  max-width: 414px;
  min-height: 570px;
  height: 100%;
  position: absolute;
}

.container_cartempty {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  background-color: #f2f2f7;
  background-image: url('../assets/image.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}

.container_cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f2f2f7;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.header__buyicon {
  border-radius: 15px;
  background-color: white;
  font-weight: bold;
  display: flex;
  padding: 5px;
}

.header__exiticon {
  display: flex;
  padding: 6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.title {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 700;
}

.upperFooter {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  justify-content: flex-end;
}

.upperFooter__text {
  width: 50%;
  color: #1c1c1e;
  font-size: 12px;
  text-align: right;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__button {
  text-align: center;
}

.footer_img {
  text-align: center;
}

.action {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.action__buttons {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}

.action__button {
  display: flex;
  width: 80%;
  justify-content: center;
}

.action__button_2 {
  display: flex;
  width: 20%;
}
