.container_cartempty {
  min-height: 100vh;
  background-color: #f2f2f7;
  background-image: url('../assets/image.png');
  background-repeat: no-repeat;
  background-position: center;
}

.container_cart {
  min-height: 100vh;
  background-color: #f2f2f7;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 450px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px;
}

.header__buyicon {
  border-radius: 6px;
  background-color: white;
  font-weight: bold;
  display: flex;
  padding: 3px;
}

.header__exiticon {
  display: flex;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.upperFooter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 100px;
  margin-bottom: 5px;
  justify-content: flex-end;
}

.upperFooter__text {
  display: flex;
  width: 50%;
  box-sizing: border-box;
  color: #1c1c1e;
  padding-left: 5px;
  font-size: 12px;
  text-align: right;
}

.footer {
  width: 100%;
  display: flex;
  position: absolute;
  height: 90px;
  bottom: 1px;
  flex-direction: column;
}

.footer__button {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.action {
  width: 100%;
  display: flex;
  position: absolute;
  height: 90px;
  bottom: 1px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.action__buttons {
  display: flex;
  width: 100%;
}

.action__button {
  display: flex;
  width: 80%;
  justify-content: center;
}

.action__button_2 {
  display: flex;
  width: 20%;
}

.footer_img {
  position: absolute;
  bottom: 1px;
}
