.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #f2f2f7;
}
