.container {
  height: 100%;
  border-radius: 20px;
  background-image: url('../assets/QBuy.jpg');
  background-color: white;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.upperFooter {
  display: flex;
  position: absolute;
  bottom: 100px;
  max-width: 414px;
  padding-left: 10px;
  padding-right: 10px;
}

.upperFooter_text {
  width: 50%;
  box-sizing: border-box;
  color: #777778;
  font-size: 12px;
}

.upperFooter_buy {
  width: 50%;
  box-sizing: border-box;
}

.upperFooter_buy > span {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
  margin-right: 10px;
}

.footer {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 5px;
  max-width: 414px;
}

.footer_button {
  text-align: center;
}

.footer_img {
  text-align: center;
}

@media (max-height: 650px) {
  .container {
    background-image: url('../assets/QBuy_sm.jpg');
  }
}
