.root {
  margin: auto;
  max-width: 414px;
  min-height: 570px;
  height: 100%;
  position: absolute;
}

.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  border-radius: 20px;
  height: 100%;
  background-color: white;
}

.title {
  margin: 15px;
  font-size: 24px;
  font-weight: 600;
}

.title__second {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #aeaeb2;
}

.nutrition {
  display: flex;
  margin: 15px 10px 15px;
}

.nutrition__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  background-color: #f2f2f7;
}

.nutrition__block > div {
  font-size: 12px;
  color: #777778;
}

.description {
  margin: 15px;
  font-size: 12px;
  color: #777778;
}

.action {
  display: flex;
}

.action__button {
  display: flex;
  width: 100%;
  justify-content: center;
}
